# AWS Configuration
AWS_REGION=ap-southeast-2
AWS_ACCESS_KEY_ID=your-access-key
AWS_SECRET_ACCESS_KEY=your-secret-key

# S3 Configuration
S3_BUCKET_NAME=your-video-bucket-name

# DynamoDB Tables
JOBS_TABLE_NAME=transcoding-jobs
VIDEOS_TABLE_NAME=videos

# Cognito Configuration
COGNITO_CLIENT_ID=your-cognito-client-id
COGNITO_JWKS_URI=https://cognito-idp.ap-southeast-2.amazonaws.com/your-user-pool-id/.well-known/jwks.json
COGNITO_CLIENT_SECRET=your-cognito-client-secret

# SQS Queue URLs (sau khi tạo queues)
STORAGE_QUEUE_URL=https://sqs.ap-southeast-2.amazonaws.com/901444280953/storage-queue
TRANSCODING_QUEUE_URL=https://sqs.ap-southeast-2.amazonaws.com/901444280953/transcoding-queue
NOTIFICATION_QUEUE_URL=https://sqs.ap-southeast-2.amazonaws.com/901444280953/notification-queue
DEAD_LETTER_QUEUE_URL=https://sqs.ap-southeast-2.amazonaws.com/901444280953/dead-letter-queue

# Service Ports
API_GATEWAY_PORT=3000
STORAGE_SERVICE_PORT=3001
VIDEO_PROCESSING_PORT=3002
WEB_FRONTEND_PORT=3003
